---
layout: default
---

{% include box-hero.html %}

<div class="page">
  <section class="usa-section usa-grid">
    <div class="usa-width-one-third">
    <h2>Better Government Plays</h2>
  </div>
  <div class="usa-width-two-thirds">
    <p class="usa-font-lead">Innovating in the public sector requires a new kind of mission-oriented thinking and perspective. Read our Playbook below to learn more about how we define public sector innovation.
      <ul>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/">What is Public Sector Innovation?</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play1/">1: Everyone can and should build a better government.</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play2/">2: Keep the customer at the center of your design.</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play3/">3: Embrace change. Experiment and seek feedback to make incremental continous improvements and reduce risk.</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play4/">4: Build a culture of collaboration, communication, and sharing with partners inside and outside the government.</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play5/">5: Let data inform your decision-making and be a key part of your story.</a></b>
      <p class="usa-font-lead"><b><a href="{{ site.baseurl }}/playbook/play6/">6: Innovation is not a one-size-fits-all approach.</a></b>
    </ul>
      </p>
  </div>
</section>

<section class="usa-section banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
        <h2>We are government change agents that discover and understand the right problem before we jump to solutions, and ensure we solve the problems right, unblocking barriers to innovation along the way.</h2>
      <div class="center-content">
        <a href="/about/" class="usa-button">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class="usa-section usa-grid">
  <h2>Better Government Toolkit</h2>
  {% include box-toolkit-home-callout.html %}
</section>

<section class="how-to-get-connected usa-section">
  <div class="site-width">
    <h2>Better Government Case Studies</h2>
    <article>
      <a href="{{ site.baseurl }}/stories/darpa-lab/">
        <img src="../assets/images/stories/stories-1.png" alt="DARPA Lab">
      </a>
      <h1>Defense Advanced Research and Project Agency (DARPA)</h1>
      <br>
      <p>DARPA has continuously innovated technologies that have “changed the world”.</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/usaid-lab/">
       <img src="../assets/images/stories/stories-2.png" alt="USAID Global Development Lab">
      </a>
      <h1>U.S. Agency for International Development's Global Development Lab</h1>
      <br>
      <p>USAID’s plans to meet 21st century challenges for international development.</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/hhs-idea-lab/">
        <img src="../assets/images/stories/stories-3.png" alt="HHS IDEA Lab">
      </a>
      <h1>Department of Health and Human Services’ (HHS) IDEA Lab</h1>
      <br>
      <p>HHS' IDEA Lab is creating a space to play, ideate, and experiment to improve the health of all Americans.</p>
    </article>
  </div>
</section>

<section class="usa-section usa-section-dark">
  <div class="usa-grid">

  <form id="contact" action="https://docs.google.com/forms/d/1Tsdm_2spbxWnmTFMrH5eHxpOAN9W4LB3eaMMXJ1N0rU/formResponse" method="POST">
    <fieldset>
      <legend>Sign up to receive updates from our team</legend>
      <div class="usa-width-one-half">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              css: '',
              portalId: '1962994',
              formId: '82c2bab2-d7e1-468d-b6c6-538bab05ca45'
            });
          </script>

      </div>
      <div class="usa-width-one-half" style="margin-top: 3rem;">
          <p>Your privacy and security are important to us, we'll only share your information as described in the <a href="http://www.gsa.gov/portal/content/116609">GSA Privacy and Security Notice</a></p>
      </div>
    </fieldset>
  </form>
  </div>
</section>
