---
layout: default
---
<div class="home">
<section class="usa-hero">
  <img src="/assets/images/home/home-banner.png">
  <!-- <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2><span class="usa-hero-callout-alt">Welcome to</span>

        Innovation.gov
      </h2>
      <hr>
      <h3>Home of the Better Government Movement</h3>

      <a class="usa-button" href="https://goo.gl/forms/zrh1j73MBTTMsC7g1">Get Started Here</a>
    </div>
  </div> -->
</section>

  <section class="usa-grid usa-section home-innovator-section">
    <div class="site-width">
      <span class="site-divider">
       <hr><h2>What Kind of Innovator Are You?</h2><hr>
      </span>
      <div class="home-innovator-cards">
        <div  class="usa-grid usa-width-one-third">
          <article>
            <header>
             <h1>Curious</h1>
            </header>
            <img src="{{ site.baseurl }}/assets/images/home/persona_curious.png">
            <hr>
            <ul>
              <li>I want to learn more about innovation principles</li>
              <li>I want to share my ideas</li>
              <li>I want to begin experiements with innovation</li>
            </ul>
            <img>
            <hr>
            <h2>If this is you, check out:</h2>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-playbook.svg %}</div>
              <div class="icon-text">Playbook</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-toolkit.svg %}</div>
              <div class="icon-text">Toolkit</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-cop.svg %}</div>
              <div class="icon-text">Community of Practice</div>
            </div>
            
          </article>
        </div>
        <div class="usa-grid usa-width-one-third">
          <article>
            <header>
              <h1>Dabbler</h1>
            </header>
            <img src="{{ site.baseurl }}/assets/images/home/persona_proficient.png">
            <hr>
            <ul>
              <li>I experiment with innovation principles</li>
              <li>I want to learn how to apply innovation principles to create a 21st century workforce</li>
              <li>I have been involved in innovation learning communities</li>
            </ul>
            <img>
            <hr>
            <h2>If this is you, check out:</h2>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-playbook.svg %}</div>
              <div class="icon-text">Playbook</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-storytelling.svg %}</div>
              <div class="icon-text">Storytelling</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-innovation.svg %}</div>
              <div class="icon-text">Innovation Ecosystem</div>
            </div>
          </article>
        </div>
        <div class="usa-grid usa-width-one-third">
          <article>
            <header>
             <h1>Professional</h1>
            </header>
            <img src="{{ site.baseurl }}/assets/images/home/persona_professional.png">
            <hr>
            <ul>
              <li>I am viewed as an innovator</li>
              <li>I teach innovation principles and practices</li>
              <li>I have experience in leading innovation initiatives</li>
            </ul>
            <img>
            <hr>
            <h2>If this is you, check out:</h2>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-playbook.svg %}</div>
              <div class="icon-text">Playbook</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-innovation.svg %}</div>
              <div class="icon-text">Innovation Ecosystem</div>
            </div>
            <div class="icon-list">
              <div class="icon">{% include svg/icons-bgm.svg %}</div>
              <div class="icon-text">BGM Leadership</div>
            </div>
          </article>
        </div>
     </div>
    </div>
    <h3>Unsure of what type of innovator you are?</h3>
    <h3>Click here to get started.</h3>
  </section>

  <section class="usa-grid usa-section home-help-section">
    <div>
      <span class="site-divider">
        <hr><h2>How can Innovation.gov help you?</h2><hr>
      </span>
      <h3>I want to...</h3>
      <div class="home-help-cards">
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-playbook.svg %}</div>
            <h1>Learn innovative methods and practices</h1>
            <hr>
            <p>A playbook defining and guiding principles for public sector innovation.</p>
          </article>
        </a>
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-toolkit.svg %}</div>
            <h1>Bring innovation to my agency</h1>
            <hr>
            <p>A toolkit comprised of 15 content areas that incldues innovative best practices, examples, and resources.</p>
          </article>
        </a>
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-cop.svg %}</div>
            <h1>Meet other innovators in the government</h1>
            <hr>
            <p>The "people" side of innovation. How to learn, share, and build a better government. Led by change agents, for peer-to-peer learning and sharing.</p>
          </article>
        </a>
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-storytelling.svg %}</div>
            <h1>Read Innovation stories and lessons learned</h1>
            <hr>
            <p>A stories repository of success and failures with innovation across the federal government.</p>
          </article>
        </a>
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-bgm.svg %}</div>
            <h1>Join the Better Government Movement</h1>
            <hr>
            <p>Network of change makers, working to amplify and evangelize innovation within government.</p>
          </article>
        </a>
        <a href="{{ site.baseurl }}/stories/darpa-lab/">
          <article>
            <div class="icon">{% include svg/icons-innovation.svg %}</div>
            <h1>Find where Innovation is taking place today</h1>
            <hr>
            <p>Database of innovation currently taking place in government, ranging from agency specific initiatives to Think Tanks.</p>
          </article>
        </a>
      </div>
  </div>
  </section>

  <section class="usa-section usa-section-dark">
    <div class="usa-grid">

    <form id="contact" action="https://docs.google.com/forms/d/1Tsdm_2spbxWnmTFMrH5eHxpOAN9W4LB3eaMMXJ1N0rU/formResponse" method="POST">
      <fieldset>
        <legend>Sign up to receive updates from our team</legend>
        <div class="usa-width-one-half">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                css: '',
                portalId: '1962994',
                formId: '82c2bab2-d7e1-468d-b6c6-538bab05ca45'
              });
            </script>

        </div>
        <div class="usa-width-one-half" style="margin-top: 3rem;">
            <p>Your privacy and security are important to us, we'll only share your information as described in the <a href="http://www.gsa.gov/portal/content/116609">GSA Privacy and Security Notice</a></p>
        </div>
      </fieldset>
    </form>
    </div>
  </section>
</div>