<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a class="usa-current" href="{{ site.baseurl }}/about/">What is Innovation.gov?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about/better-govt-mvmt/">What is The Better Government Movement?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about/who/">Who was it built for?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about/culture-change/">How will culture change happen?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about/team/">Who is on the team?</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about/impact/">What impact is the Movement having?</a>
    </li>
  </ul>
</aside>
</ul>

{% if page.title == "What is Innovation.gov?" %}
  then "What is Innovation.gov?"
{% else %}
{% endif %}
