<section class="how-to-get-connected">
  <div class="site-width">
    <h1>Better Government Stories</h1>
    <p>Learn more and read stories about government innovation in action. </p>
    <article>
      <a href="{{ site.baseurl }}/stories/darpa-lab.html">
        <img src="../assets/images/stories/stories-1.png" alt="DARPA Lab">
      </a>
      <h1>Defense Advanced Research and Project Agency (DARPA)</h1>
      <p>DARPA has continuously innovated technologies that have “changed the world”.</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/usaid-lab.html">
       <img src="../assets/images/stories/stories-2.png" alt="USAID Global Development Lab">
      </a>
      <h1>U.S. Agency for International Development's Global Development Lab</h1>
      <p>USAID’s plans to meet 21st century challenges for international development.</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/hhs-idea-lab.html">
        <img src="../assets/images/stories/stories-3.png" alt="HHS IDEA Lab">
      </a>
      <h1>Department of Health and Human Services’ (HHS) Idea Lab</h1>
      <p>HHS' IDEA Lab is creating a space to play, ideate, and experiment to improve the health of all Americans.</p>
    </article>
  </div>
</section>
