<section class="how-to-get-connected">
  <div class="site-width">
    <h1>How to Get Connected</h1>
    <article>
      <a href="{{ site.baseurl }}/playbook/"> <img src="{{ site.baseurl }}/assets/images/toolkit/playbook.png" alt="Better Government Playbook">
      <h1>Playbook</h1></a>
      <p>Six key guiding principles or “plays” for public sector innovation</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/"> <img src="{{ site.baseurl }}/assets/images/toolkit/stories.png" alt="Better Government Stories">
      <h1>Stories</h1></a>
      <p>Real-world stories of where innovation is happening and working in the government</p>
    </article>
    <article>
      <a href="{{ site.baseurl }}/join-us/"> <img src="{{ site.baseurl }}/assets/images/toolkit/join.png" alt="Join the Better Government Movement">
      <h1>Join</h1></a>
      <p>Opportunities to join the Community of Practice, Innovation Ambassadors, and upcoming events</p>
    </article>
  </div>
</section>
