<div class="page">
  <div class="site-width">
    <div class="usa-width-one-third"
    <h2>Mission</h2>
  </div>
  <div class="usa-width-two thirds"
    <p>A growing number of Federal employees are using new approaches to improve the core processes of government, solve problems, and foster innovation to create a better government.<br>
    However, adoption of these approaches is still low relative to their potential. Many Federal employees do not know that these approaches exist or lack the support needed to use them effectively. That’s why we’ve created Innovation.gov.</p>
  </div>
