<section class="better-govt-stories">
  <div class="site-width">
    <h1>Better Government Movement</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <article>
      <img src="#" alt="">
      <h1>Playbook</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
    <article>
      <img src="#" alt="">
      <h1>Toolkit</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
    <article>
      <img src="#" alt="">
      <h1>Join</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
  </div>
</section>
