<section class="usa-hero">
  <div class="usa-grid">
    <div class="usa-hero-callout usa-section-dark">
      <h2><span class="usa-hero-callout-alt">Innovation.gov:</span>

        Better Tools for a Better Government
      </h2>

        <p>Welcome to our Beta Site.</p>
        <p>Innovation.gov may be under construction, but the Better Government Movement is not. We always look to engage new innovators.</p>

      <a class="usa-button" href="https://goo.gl/forms/6xxOasyV82OyasqM2">Tell Us About You</a>
    </div>
  </div>
</section>
