<div>
<section class="usa-grid toolkit-home-better-gov-callout">
  <h2>Better Government Toolkit</h2>
    <section class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/culture/">
        <img src="{{ site.baseurl }}/assets/images/icons/culture.png" alt="culture-icon" width="75px">
        <div class="toolkit-home-callout-text-red">
        <h4 class="better-gov-callout-red">Build a 21st Century Culture and Workforce</h4>
      </a>
        <ul>
          <li><h4><a href="{{ site.baseurl }}/toolkit/culture/#innovation-culture">Culture of Innovation</a></h4></li>
        	<li><a href="{{ site.baseurl }}/toolkit/culture/#innovation-lab">Innovation Lab</a></li>
        	<li><a href="{{ site.baseurl }}/toolkit/culture/#CINO">Chief Innovation Officer</a></li>
        	<li><a href="{{ site.baseurl }}/toolkit/culture/#tour-of-duty">"Tour of Duty" Hiring</a></li>
        	<li><a href="{{ site.baseurl }}/toolkit/culture/#acquisitions">Acquisitions and Procurement</a></li>
        </ul>
          </p>
        </div>
    </section>

    <section class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/delivery/">
        <img src="{{ site.baseurl }}/assets/images/icons/delivery.png" alt="delivery-icon" width="75px">
        <div class="toolkit-home-callout-text-green">
        <h4 class="better-gov-callout-green">Improve Government Services Delivery</h4>
      </a>
          <ul>
            <li>	<a href="{{ site.baseurl }}/toolkit/delivery/#human-centered">Human-Centered Design</a></li>
            <li>	<a href="{{ site.baseurl }}/toolkit/delivery/#agile">Agile</a></li>
            <li>	<a href="{{ site.baseurl }}/toolkit/delivery/#lean">Lean Startup</a></li>
            <li>	<a href="{{ site.baseurl }}/toolkit/delivery/#decision-making">Evidence-Based Decision Making</a></li>
          </ul>

            </p>
        </div>
      </section>
    <section class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/solutions/">
        <img src="{{ site.baseurl }}/assets/images/icons/solutions.png" alt="solutions-icon" width="75px">
        <div class="toolkit-home-callout-text-blue">
        <h4 class="better-gov-callout-blue">Solve Complex Problems<br><br></h4>
      </a>
        <ul>
          <li> <a href="{{ site.baseurl }}/toolkit/solutions/#cops">Communities of Practice</a></li>
          <li> <a href="{{ site.baseurl }}/toolkit/solutions/#grand-challenges">Grand Challenges</a></li>
        </ul>
        </p>
      </div>
    </section>

    <section class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/innovators/">
        <img src="{{ site.baseurl }}/assets/images/icons/innovators.png" alt="innovators-icon" width="75px">
        <div class="toolkit-home-callout-text-yellow">
        <h4 class="better-gov-callout-yellow">Collaborate with Innovators</h4>
      </a>
        <ul>
          <li><a href="{{ site.baseurl }}/toolkit/innovators/#public-engagement">Public Engagement</a>
        	<li><a href="{{ site.baseurl }}/toolkit/innovators/#engaging-startups">Startup Engagement</a>
        	<li><a href="{{ site.baseurl }}/toolkit/innovators/#prizes-challenges">Prizes and Challenges</a>
        	<li><a href="{{ site.baseurl }}/toolkit/innovators/#citizen-science">Crowdsourcing and Citizen Science</a></li>
        </p>
      </div>
    </section>
</section>
</div>
