<div>
<section class="usa-grid toolkit-home-better-gov-callout">
  <h2>Better Government Toolkit</h2>
  <ul>
    <li class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/culture/">
        <img src="{{ site.baseurl }}/assets/images/icons/culture.png" alt="culture-icon" width="100px">
        <div class="toolkit-home-callout-text-red">
        <h4 class="better-gov-callout-red">Build a 21st Century Culture and Workforce</h4>
      </a>
        <p>Modern hiring practices, innovative acquisitions, and how create a culture of innovation within your agency.</p>
        </div>
    </li>

    <li class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/delivery/">
        <img src="{{ site.baseurl }}/assets/images/icons/delivery.png" alt="delivery-icon" width="100px">
        <div class="toolkit-home-callout-text-green">
        <h4 class="better-gov-callout-green">Improve Government Services Delivery</h4>
      </a>
        <p>Modern, innovative methods such as human-centered design, Lean and Agile, and evidence-based approaches.</p>
        </div>
    </li>

    <li class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/solutions/">
        <img src="{{ site.baseurl }}/assets/images/icons/solutions.png" alt="solutions-icon" width="100px">
        <div class="toolkit-home-callout-text-blue">
        <h4 class="better-gov-callout-blue">Solve Complex Societal and Governmental Problems</h4>
      </a>
        <p>How to identify and pursue grand challenges facing our nation, and creating a Community of Practice</p>
      </div>
    </li>

    <li class="usa-width-one-fourth">
      <a href="{{ site.baseurl }}/toolkit/innovators/">
        <img src="{{ site.baseurl }}/assets/images/icons/innovators.png" alt="innovators-icon" width="100px">
        <div class="toolkit-home-callout-text-yellow">
        <h4 class="better-gov-callout-yellow">Bring Innovators into Government</h4>
      </a>
        <p>Incentivizing innovation through prizes and challenges, citizen science and crowdsourcing, engaging startups and public-private partnerships.</p>
      </div>
    </li>
  </ul>
</section>
</div>


