<section class="how-to-get-connected">
  <div class="usa-grid site-width">
    <h1>Better Government Case Studies</h1>
    <p>Explore real-world stories of where innovation is happening and working in the government.</p>
    <article>
      <a href="{{ site.baseurl }}/stories/darpa-lab/">
        <img src="../assets/images/stories/stories-1.png" alt="DARPA Lab">
      </a>
      <h1>Defense Advanced Research and Project Agency (DARPA)</h1>
      <br>
      <p>DARPA has continuously innovated technologies that have “changed the world”.</p>
      <br>
      <a href="{{ site.baseurl }}/stories/darpa-lab/">
      Read more
      </a>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/usaid-lab/">
       <img src="../assets/images/stories/stories-2.png" alt="USAID Global Development Lab">
      </a>
      <h1>U.S. Agency for International Development's Global Development Lab</h1>
      <br>
      <p>USAID’s plans to meet 21st century challenges for international development.</p>
      <a href="{{ site.baseurl }}/stories/usaid-lab/">
      Read more
      </a>
    </article>
    <article>
      <a href="{{ site.baseurl }}/stories/hhs-idea-lab/">
        <img src="../assets/images/stories/stories-3.png" alt="HHS IDEA Lab">
      </a>
      <h1>Department of Health and Human Services’ (HHS) Idea Lab</h1>
      <br>
      <p>HHS' IDEA Lab is creating a space to play, ideate, and experiment to improve the health of all Americans.</p>
      <a href="{{ site.baseurl }}/stories/hhs-idea-lab/">
      Read more
      </a>
    </article>
  </div>
</section>
