<section class="callout">
  <h1>Better Government Toolkit</h1>
  <ul>
    <li>
      <h2>Build a 21st Century Culture and Workforce</h2>
      <img src="../assets/images/icons/culture.png" alt="">
      <p>Learn about modern hiring practices, innovative acquisitions, and how create a culture of innovation within your agency.</p>
    </li>
    <li>
      <h2><a href="../toolkit/delivery.html">Improve Government Services Delivery</a></h2>
      <<a href="../toolkit/delivery.html"> <img src="{../assets/images/icons/delivery.png" alt="delivery-icon"></a>
      <p>Learn more about innovative methods to bring the way we do work and our services into the 21st century.</p>
    </li>
    <li>
      <h2>Solve Complex Societal and Governmental Problems</h2>
      <img src="../assets/images/icons/solutions.png" alt="">
      <p>Learn more about how collaborations across and outside the government can solve our country’s biggest problems.</p>
    </li>
    <li>
      <h2>Bring Innovators into Government</h2>
      <img src="../assets/images/icons/innovators.png" alt="">
      <p>Learn more about how the government can make use of new ways to engage the public and startup companies to innovate.</p>
    </li>
  </ul>
</section>
</div>
</div>
