<div class="delivery display-flex">
<section class="usa-grid better-gov-callout">
  <h2>Better Government Toolkit</h2>
  <ul>
    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/culture.png" alt="" width="100px">
      <h4 class="better-gov-callout-red">Build a 21st Century Culture and Workforce</h4>
      <p>Learn about modern hiring practices, innovative acquisitions, and how create a culture of innovation within your agency.</p>
    </li>

    <li class="usa-width-one-fourth">
      <a href="../toolkit/delivery.html"> <img src="../assets/images/icons/delivery.png" alt="delivery-icon" width="100px"></a>
      <h4 class="better-gov-callout-green"><a href="../toolkit/delivery.html">Improve Government Services Delivery</a></h4>
      <p>Learn more about innovative methods to bring the way we do work and our services into the 21st century.</p>
    </li>

    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/solutions.png" alt="" width="100px">
      <h4 class="better-gov-callout-blue">Solve Complex Societal and Governmental Problems</h4>
      <p>Learn more about how collaborations across and outside the government can solve our country’s biggest problems.</p>
    </li>

    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/innovators.png" alt="" width="100px">
      <h4 class="better-gov-callout-yellow">Bring Innovators into Government</h4>
      <p>Learn more about how the government can make use of new ways to engage the public and startup companies to innovate.</p>
    </li>

  </ul>
</section>
</div>


