<section class="how-to-get-connected">
  <div class="site-width">
    <h1>How to Get Connected</h1>
    <article>
      <img src="#" alt="">
      <h1>Playbook</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
    <article>
      <img src="#" alt="">
      <h1>Stories</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
    <article>
      <img src="#" alt="">
      <h1>Join</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
    </article>
  </div>
</section>
