<section class="how-to-get-connected">
  <div class="site-width">
    <h1>Better Government Movement</h1>
    <p>Explore the Better Government Movement through the Playbook, Toolkit, and opportunities to join the community of innovators.</p>
    <article>
      <ahref="{{ site-baseurl }}/playbook.html"></a><img src="#" alt="/playbook.html">
      <h1><ahref="{{ site-baseurl }}/playbook.html">Playbook</h1></a>
      <p>Learn the six key principles or “plays” that anchor public sector innovation.</p>
    </article>
    <article>
      <ahref="{{ site-baseurl }}/toolkit.html"></a> <img src="#" alt="Better Government Toolkit">
      <h1>Toolkit</h1>
      <p>Discover resources to build a culture of innovation within the government.</p>
    </article>
    <article>
      <ahref="{{ site-baseurl }}/join-us.html"></a> <img src="#" alt="Join the Better Government Movement">
      <h1>Join</h1>
      <p>Learn more about how to participate in the Better Government Movement.</p>
    </article>
  </div>
</section>
