<section class="how-to-get-connected">
  <div class="site-width">
    <h1>Better Government Movement</h1>
    <p>Be a part of the Better Government Movement through the Playbook, Toolkit, and our opportunities to join a community of innovators.</p>
    <article>
      <a href="{{ site-baseurl }}/playbook.html"></a><img src="../assets/images/home/home-playbook.png" alt="Better Government Playbook">
      <h1><ahref="{{ site-baseurl }}/playbook.html">Playbook</h1></a>
      <p>Six key guiding principles or “plays” for public sector innovation</p>
    </article>
    <article>
      <a href="{{ site-baseurl }}/toolkit.html"></a> <img src="../assets/images/home/home-toolkit.png" alt="Better Government Toolkit">
      <h1>Toolkit</h1>
      <p>Innovative approaches, policies, and resources from federal change agents</p>
    </article>
    <article>
      <a href="{{ site-baseurl }}/join-us.html"></a> <img src="../assets/images/home/home-join.png" alt="Join the Better Government Movement">
      <h1>Join</h1>
      <p>Opportunities to join the Community of Practice, Innovation Ambassadors, and upcoming events</p>
    </article>
  </div>
</section>
