<div class="banner-dark">
<section class="usa-grid better-gov-callout">
  <ul>
    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/culture.png" alt="" width="100px">
      <h4 class="better-gov-callout-red">Build a 21st Century Culture and Workforce</h4>
    </li>

    <li class="usa-width-one-fourth">
      <a href="../toolkit/delivery.html"> <img src="../assets/images/icons/delivery.png" alt="delivery-icon" width="100px"></a>
      <h4 class="better-gov-callout-green"><a href="../toolkit/delivery.html">Improve Government Services Delivery</a></h4>
    </li>

    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/solutions.png" alt="" width="100px">
      <h4 class="better-gov-callout-blue">Solve Complex Societal and Governmental Problems</h4>
    </li>

    <li class="usa-width-one-fourth">
      <img src="../assets/images/icons/innovators.png" alt="" width="100px">
      <h4 class="better-gov-callout-yellow">Bring Innovators into Government</h4>
    </li>

  </ul>
</section>
</div>


