<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a class="usa-current" href="{{ site.baseurl }}/competition/">About the Better Government Ambassadors Design Challenge</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/stages-workshops/">Design Challenge Stages + Skills Building Workshops</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/who/">Who Should Apply</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/schedule-fees/">Schedule, Time Commitment, Fees</a>
    </li>
  </ul>
</aside>
</ul>
