<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a href="{{ site.baseurl }}/competition/">About the Better Government Ambassadors Competition</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/stages-workshops/">Competition Stages + Skills Building Workshops</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/who/">Who Should Apply</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/competition/schedule-fees/">Schedule, Time Commitment, Fees</a>
    </li>
  </ul>
</aside>
</ul>

{% if page.title == "What is Innovation.gov?" %}
  then "What is Innovation.gov?"
{% else %}
{% endif %}
