<div class="page">
  <div class="site-width">
  <section class="usa-grid usa-section">
    <h1>Calendar of Events</h1>
<table class="usa-table-borderless">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">BGM Competitions Application - OPEN</th>
        <td>BGM is now accepting applications for its inaugural pilot Competition - a 12 week intensive problem-solving initiative that both educates and engages. Learn more and apply here (hyperlink to App)</td>
        <td>Everywhere</td>
        <td>1/16/18 - TBD Close</td>
      </tr>
      <tr>
        <th scope="row">BGM Competitions Ask Me Anything (AMA) Information Session</th>
        <td>nterested in applying for the Competition but have questions? Join our AMA with Amy Wilson and Joey Arora - leads of the Competition - to get your questions answered and learn more. Register here (hyperlink)</td>
        <td>Virtual</td>
        <td>1/23/16</td>
      </tr>
      <tr>
        <th scope="row">Community of Practice Design Session</th>
        <td>New Year. Continued growth. We are still building out the BGM Community of Practice and want your input. The first design session of the year will focus on developing a sustainable, community-driven model for the Community of Practice.</td>
        <td>Everywhere</td>
        <td>TBD - Late January</td>
      </tr>
      <tr>
        <th scope="row">BGM Orientation</th>
        <td>Want to get involved? The first step is to attend a Better Government Orientation. A 30-minute session, Orientation will cover the history of the Better Government Movement and cover in-depth opportunities to engage and participate in one of the movement’s working groups.</td>
        <td>Everywhere</td>
        <td>TBD - Late January</td>
      </tr>
    </tbody>
  </table>
</div>
