<div class="page">
  <div class="site-width">
  <section class="usa-grid usa-section">
    <h1>Upcoming Events</h1>
<table class="usa-table-borderless">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Launch of Innovation.gov</th>
        <td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
        <td>Everywhere</td>
        <td>January 15, 2018 9:00 a.m.</td>
      </tr>
      <tr>
        <th scope="row">Bill of Rights</th>
        <td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
        <td>1791</td>
      </tr>
      <tr>
        <th scope="row">Declaration of Sentiments</th>
        <td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
        <td>1848</td>
      </tr>
      <tr>
        <th scope="row">Emancipation Proclamation</th>
        <td>An executive order granting freedom to slaves in designated southern states.</td>
        <td>1863</td>
      </tr>
    </tbody>
  </table>
</div>
