{% if include.type == "input" %}

<label class="m_{{include.name}}">
  {{include.label}}
  <input class="fm" type="text" name="m_{{include.name}}" value="">
  {% if include.helper_text %}
  <span>{{include.helper_text}}</span>
  {% endif %}
</label>

{% elsif include.type == "textarea" %}

<label class="m_{{include.name}}">
  {{include.label}}
  <textarea class="fm" name="m_{{include.name}}"></textarea>
  {% if include.helper_text %}
  <span>{{include.helper_text}}</span>
  {% endif %}
</label>

{% endif %}
