<body class="layout-demo">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <header class="usa-header usa-header-extended no-print" role="banner">
      <!-- Gov banner BEGIN -->
      <div class="usa-banner">
        <div class="usa-accordion">
          <header class="usa-banner-header">
            <div class="usa-grid usa-banner-inner">
            <img src="{{ site.baseurl }}/assets/uswds-1.3.1/img/us_flag_small.png" alt="U.S. flag">
            <p>An official website of the United States government</p>
            <button class="usa-accordion-button usa-banner-button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner-button-text">Here's how you know</span>
            </button>
            </div>
          <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
            <div class="usa-banner-guidance-gov usa-width-one-half">
              <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds-1.3.1/img/icon-dot-gov.svg" alt="Dot gov">
              <div class="usa-media_block-body">
                <p>
                  <strong>The .gov means it’s official.</strong>
                  <br>
                  Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
                </p>
              </div>
            </div>
            <div class="usa-banner-guidance-ssl usa-width-one-half">
              <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds-1.3.1/img/icon-https.svg" alt="SSL">
              <div class="usa-media_block-body">
                <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gov banner END -->
      <div class="usa-navbar">
          <div class="usa-logo" id="extended-logo">
            <img src="{{ site.baseurl }}/assets/images/icons/bgm-logo.png" alt="Innovation.gov">
            <em class="usa-logo-text">
              <a href="/"
                title="Home"
                aria-label="Home">
                Innovation.gov
              </a>
            </em>
          </div>
          <button class="usa-menu-btn">Menu</button>
        </div>
        
          <nav role="navigation" class="usa-nav">
            <div class="usa-nav-inner">
              <button class="usa-nav-close">
          <img src="{{ site.baseurl }}/assets/uswds-1.3.1/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">
          
          <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-one">    
          <span>Learn</span>
            </button>
            <ul id="extended-nav-section-one" class="usa-nav-submenu">
              <li>
                <a href="{{ site.baseurl }}/playbook/">Playbook</a>
              </li><li>
                <a href="{{ site.baseurl }}/toolkit/">Toolkit</a>
              </li><li>
                <a href="{{ site.baseurl }}/about/">About BGM</a>
              </li>
            </ul>
          </li>
            
          <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-two">    
            <span>Explore</span>
              </button>
              <ul id="extended-nav-section-two" class="usa-nav-submenu">
                <li>
                  <a href="{{ site.baseurl }}/#/">Blog</a>
                </li><li>
                  <a href="{{ site.baseurl }}/#/">Innovation Ecosystem</a>
                </li><li>
                  <a href="{{ site.baseurl }}/#/">Case Studies</a>
                </li>
              </ul>
            </li>
    
            <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-three">    
              <span>Join</span>
                </button>
                <ul id="extended-nav-section-three" class="usa-nav-submenu">
                  <li>
                    <a href="{{ site.baseurl }}/#/">Community of Practice</a>
                  </li><li>
                    <a href="{{ site.baseurl }}/#/">BG Bootcamp</a>
                  </li>
                </ul>
              </li>
                    
                    <li><a class="usa-nav-link" href="{{ site.baseurl }}/#/)">
              <span>Blog</span>
            </a></li></ul>
              <div class="usa-nav-secondary">
          
        <form class="usa-search usa-search-small js-search-form" accept-charset="UTF-8" action="https://search.usa.gov/search"
        id="search_form" method="get">
          <div role="search">
            <label class="usa-sr-only" for="extended-search-field-small">Search small</label>
            <input id="affiliate" name="affiliate" type="hidden" value="innovation.gov"/>
            <input autocomplete="off" class="usagov-search-autocomplete" name="query" type="text"
                  placeholder="Search" id="search-field-small"/>
            <button type="submit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form>
          
          <ul class="usa-unstyled-list usa-nav-secondary-links">
            
            <li class="js-search-button-container">
              <button class="usa-header-search-button js-search-button">Search</button>
            </li>
            
            
            <li>
              <a href="https://github.com/GSA/Innovation.gov/issues/new">
                Provide feedback
              </a>
            </li>
            
          </ul>
        </div>
        
            </div>
          </nav>
    </header>
    