<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCRJ8BM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<a class="usa-skipnav no-print" href="#main">Skip to main content</a>
<!-- Gov banner BEGIN -->

<div class="usa-banner no-print">
  <header class="usa-banner-header">
    <div class="usa-grid usa-banner-inner">
    <img src="{{site.baseurl}}assets/uswds-0.14.0/img/favicons/favicon-57.png" alt="U.S. flag">
    <p>An official website of the United States government</p>
    </div>
  </header>
</div>
<!-- Gov banner END -->


<header role="banner" class="banner">
  <div class="usa-header usa-header-extended no-print">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <a href="{{site.baseurl}}/" accesskey="1" title="Home" aria-label="Home">Better Government</a>
        </em>
      </div>
    </div>
  </div>
</header>

<div class="usa-header usa-header-extended no-print sticky">
<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">

    <button class="usa-nav-close">
      <img src="{{site.baseurl}}/uswds-0.14.0/img/close.svg" alt="close">
    </button>
    <ul class="usa-nav-primary usa-accordion">
      <li>
        <button class="
        usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-1">
          <span>About</span>
        </button>
        <ul id="side-nav-1" class="usa-nav-submenu">
          <li>
            <a href="pages/about.html">About Innovation.gov</a>
          </li>
          <li>
            <a href="pages/movement.html">About the Better Government Movement</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
          <span>What is Public Sector Innovation?</span>
        </button>
        <ul id="sidenav-2" class="usa-nav-submenu">
          <li>
            <a href="pages/public-sector-innovation.html">What is Public Sector Innovation?</a>
          </li>
          <li>
            <a href="pages/play1.html">Play 1: Everyone can and should innovate</a>
          </li>
          <li>
            <a href="pages/play2.html">Play 2: Keep the customer at the center of your design</a>
          </li>
          <li>
            <a href="pages/play3.html">Play 3: Embrace change</a>
          </li>
          <li>
            <a href="pages/play4.html">Play 4: Build a culture of collaboration</a>
          </li>
          <li>
            <a href="pages/play5.html">Play 5: Let data inform your decision making</a>
          </li>
          <li>
            <a href="pages/play6.html">Play 6: Innovation is not a one-size-fits-all approach</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">
          <span>Make</span>
        </button>
        <ul id="sidenav-3" class="usa-nav-submenu">
          <li>
            <a href="pages/labs.html">Labs</a>
          </li>
          <li>
            <a href="index.html">Coming Soon: Programs</a>
          </li>
          <li>
            <a href="index.html">Coming Soon: People</a>
          </li>
          <li>
            <a href="index.html">Coming Soon: Products + Services</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="usa-nav-secondary">
     <ul class="usa-unstyled-list usa-nav-secondary-links">
       <li>
           <a href="{{site.baseurl}}/about">About</a>
       </li>
       <li>
         <a href="javascript:window.print()">
           Print
         </a>
       </li>
     </ul>
   </div>
  </div>
</nav>
</div>
