<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a class="usa-current" href="public-sector-innovation.html">What is Public Sector Innovation?</a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="#section-heading-h2">Defining Innovation</a>
        </li>
        <li>
          <a href="#section-heading-h3">Meeting the Innovation Imperative</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="play1.html">Play 1: Everyone can (and should) innovate</a>
    </li>
    <li>
      <a href="play2.html">Play 2: Keep the customer at the center of your design</a>
    </li>
    <li>
      <a href="play3.html">Play 3: Embrace change</a>
    </li>
    <li>
      <a href="play4.html">Play 4: Build a culture of collaboration</a>
    </li>
    <li>
      <a href="play5.html">Play 5: Let data inform your decision making</a>
    </li>
    <li>
      <a href="play6.html">Play 6: Innovation is not a one-size-fits-all approach</a>
    </li>
  </ul>
</aside>
</ul>

{% if page.title == "Play 1" %}
  Play 1: Everyone can (and should) innovate
{% else %}
  <a class="usa-current" href="play1.html">Play 1: Everyone can (and should) innovate</a>
{% endif %}
