
/* @group header */

header.usa-header {
  background: $color-white;
  }

.usa-logo {
 
  a {
    color: $color-blue-light;
  }

  img {
    display: none;

    @media screen and (min-width: $medium-screen) {
      display: inline;
      width: 3.4rem;
    }

    @media screen and (min-width: $large-screen) {
      width: 5rem;
    }
  }

}

.usa-logo-text {
  font-size: $h4-font-size;

  @media screen and (min-width: $medium-screen) {
    display: inline-block;
    margin-left: 1rem;
    position: relative;
    top: -1rem;
  }
}


@media screen and (min-width: $medium-screen) {

  .usa-header-extended .usa-logo {
    margin-bottom: 0;
}

}

.usa-nav-secondary {
  top: -6rem;
}
  
  
  /* @end */