.home {

    a {
        text-decoration: none;
        color: $color-gray-dark;
    }

    h2 {
        font-family: $font-sans;
    }

    .usa-hero {

        background-image: url(/assets/images/home/home-banner.png);
        text-align: center;

        h3 {
            color: $color-white;
            font-size: 3rem;
        }
    }

.home-innovator-section {
    h3 {
        color: $color-blue-light;
        margin-top: 2rem;
        text-align: right;
    }
}

    .home-innovator-cards {
        margin-top: 4rem;
        
        article {
            border: 1px solid $color-blue-light;

            @media screen and (min-width: $medium-screen) {
                min-width: 30rem;
            }

            h1 {
                color: $color-white;
                margin-top: 0;
                padding: 5px;
                text-align: center;
            }

            h2 {
                color: $color-blue-light;
                font-size: 2rem;
                // padding: 1rem 0;
                text-align: center;
            }

            header {
                background-color: $color-blue-light;
            }

            hr {
                color: $color-blue-light;
                border-bottom: none;
                border-top: dotted 1px;
            }

            ul {
                list-style-type: none;
                // margin: 0;
                // padding: 0;
            }
            
            li {
                background: url(images/home/icons/icons-check.svg) left center no-repeat;
                padding-left: 45px;
                padding-top: 0;
                position: relative;
                right: 20px;
            }

            .icon-list {
                margin-bottom: 2em;
                margin-left: 1.2em;
                margin-top: 2em;
            }

            .icon {
                display: inline-block;
                position: relative;
                top: -.1em;
                vertical-align: middle;
        
             }
            .icon-text {
                display: inline-block;
                font-size: 2rem;
                font-weight: $font-bold;
                margin-left: .5em;
                vertical-align: middle;

                @media screen and (min-width: $medium-screen) {
                    margin-left: .3em;
                    vertical-align: baseline;
                }
             }
        }
    }


.home-help-section {
    h3 {
        color: $color-blue-light;
        font-size: $h3-font-size;
        text-align: center;
        
    }
}
    .home-help-cards {

        @media screen and (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: 225px 225px 225px;
            grid-gap: 2rem;
            justify-items: center;
            justify-content: center;
            margin-top: 4rem;
            width: 100%;
        }

        @media screen and (min-width: $large-screen) {
            display: grid;
            grid-template-columns: 250px 250px 250px;
            grid-gap: 4rem;
            justify-items: center;
            justify-content: space-evenly;
            margin-top: 4rem;
            width: 100%;
        }

        article {
          border: 2px solid $color-blue-light;
          margin: 3rem 0;
          padding: 1rem;
          
        }

        h1 {
            text-align: center;
            color: $color-blue-light;
            font-size: $h3-font-size;
        }

        h2 {
            font-size: $h2-font-size;
        }

        hr {
            color: $color-blue-light;
        }

        .icon {
            text-align: center;

            @media screen and (min-width: $medium-screen) {
                position: relative;
                margin: -35px auto 0;
            }
        }
    }
    
    .site-divider {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        // margin: 0 auto;
        // max-width: 80%;
        // width: 100%;
        &:after {
            left: 50%;
            line-height: inherit;
            position: absolute;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        }
        h2 {
            @media screen and (min-width: $medium-screen) {
                margin-bottom: 2rem;
                white-space: nowrap;
            }
        }
        hr {
            visibility: hidden;
            @media screen and (min-width: $medium-screen) {
                visibility: visible;
                color: #748796;
                border: 0;
                border-bottom: 1px solid;
                height: 6.6px;
                margin: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                width: calc(50% - 50px);
                // max-width: 100px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                &:after {
                    content: ' ';
                    display: block;
                    height: 100%;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                &:first-child {
                    &:after {
                        margin-left: 35px;
                    }
                }
                &:last-child {
                    &:after {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
    
}