---
permalink: /toolkit/
layout: default
title: Toolkit Home
summary: 'The Better Government Toolkit provides resources to build a better government through innovation.'
---

<section class="masthead">
  <div class="site-width">
    <h1>The Better Government Toolkit provides resources to build a better government through innovation.</h1>
  </div>
</section>

<div class="page">
  <div class="site-width">

    {% include box-toolkit-home-callout.html %}
    
  </div>
</div>

{% include box-get-connected.html %}
