<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Redirect =============== -->
    <script type="text/javascript">
      var g_url = 'https://innovation.gov/';
      var current_url = window.location;
      if ( current_url.href.indexOf(g_url) >= 0 ) {
        var path = current_url.href.replace(g_url, "");
        window.location.href = 'https://www.digital.gov/' + path + '?=i';
      }
    </script>

  </head>

  <body>
    <main id="main">
      Innovation.gov has moved to <a href="https://digital.gov">https://digital.gov</a>
    </main>
  </body>

</html>
