<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="layout-demo">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include header.html %}

    <div class="usa-overlay"></div>
    <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">

      {% if page.hamburger == true %}
        {% include side-nav.html %}
      {% else %}
        <p>NOPE. No Nav here.</p>
      {% endif %}


      <div class="usa-width-three-fourths usa-layout-docs-main_content">

        {{content}}

      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
