---
layout: default
---

{% include toolkit-banner.html %}

<div class="solutions-background">
	<section class="usa-grid usa-section">
		<h2>Solve Complex Societal and Governmental Problems</h2>
	</section>
</div>

<div class="culture-background toolkit-button-group-small">
	<div class="usa-grid">
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/solutions/cops">Communities of Practice</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/solutions/grand-challenges">Grand Challenges</a>
	</div>
</div>

{% include toolkit-layout.html %}

<div class="usa-grid usa-footer-return-to-top">
	<a href="#">Return to top</a>
</div>

{% include box-get-connected.html %}
