---
layout: default
---

{% include toolkit-banner.html %}

<div class="culture-background">
	<section class="usa-grid usa-section">
		<h2>Build a 21st Century Culture and Workforce</h2>
	</section>
</div>

<div class="culture-background toolkit-button-group-small">
	<div class="usa-grid">
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/culture/innovation-culture">Culture of Innovation</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/culture/innovation-lab">Innovation Labs</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/culture/cino">Chief Innovation Officer</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/culture/tour-of-duty">Tour of Duty Hiring</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/culture/acquisitions">Acquisitions and Procurement</a>
	</div>
</div>

{% include toolkit-layout.html %}

<div class="usa-grid usa-footer-return-to-top">
	<a href="#">Return to top</a>
</div>

{% include box-get-connected.html %}
