---
layout: default
---

{% include toolkit-banner.html %}

<div class="delivery-background">
	<section class="usa-grid usa-section">
		<h2>Improve Government Services Delivery</h2>
	</section>
</div>

<div class="{{vertical}}-background toolkit-button-group-small">
	<div class="usa-grid">
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/delivery/human-centered">Human-Centered Design</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/delivery/agile">Agile</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/delivery/lean">Lean Startup</a>
	<a class="usa-button" href="{{ site.baseurl }}/toolkit/delivery/decision-making">Evidence-Based Decision Making</a>
	</div>
</div>

{% include toolkit-layout.html %}

<div class="usa-grid usa-footer-return-to-top">
	<a href="#">Return to top</a>
</div>

{% include box-get-connected.html %}
